*{
    margin: 2px;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
   box-sizing: border-box;
}
.menu{
    background-size: auto;
    background-color: rgba(78, 69, 69, 0.61);
}

.menu>li{
    list-style: none;
    display: inline-block;
    padding: 10px 120px;
    color: bisque;
    text-decoration: none;
}

.menu li:hover{
    color:black;
    transition: all .3s;
}
.menu li a:hover{
    color:black;
    transition: all .3s;
}

.desplegable{
    list-style: none;
    position: absolute;
    background-color: rgba(58, 48, 48, 0.658);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.desplegable li a{
    color: bisque;
    display: block;
    padding: 15px;
    text-decoration: none;
}

.menu li:hover .desplegable{
    visibility: visible;
    color:darkgreen;
    opacity: 1;
    
}