/* CSS normal */
body{
    background-image: url("../img/watercolour.jpg");
    background-size: cover; 
}

main{
    float: left;
    width: 70%;
}


aside{
    float: right;
    text-align: center;
    margin-left: 76%;
    position: absolute;
    margin-top: 3cm;
}


.hotel{
    text-align: center;
    font-style: italic;
    background-color: rgb(245, 188, 0); 
    font-size: 40px;
}

h2{
    text-align: center;
    font-style: italic;
    font-size: 30px;
    margin-right: 20%;
}

p{
    text-align: center
    font-size: 18px;
    font-weight:500;
    line-height: 0.68cm;
    width: 70%;
    margin-left: 4%;
}

img{
    width: 70%;
    margin-left: 4%;
}

ol{
    list-style-type:square;
    margin-left: 13%;
    font-size: 18px;
}

.pago{
    text-align: left;
}

h3{
    font-style: italic;
    text-align: center;
    margin-right: 20%;
}

.izda{
    text-align: justify;
}

.piefoto{
    font-size: 15px;
}

.publi{
    margin-left: 20%;
}

footer{
    clear:both;
    margin-bottom: 75px;
}

.infomedio{
    
    width: 40%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.info2{
    width: 30%;
    height: 100%;
    text-align: center;
   
}
.info1{
    width: 30%;
    height: 100%;
    text-align: center;
}

.logors{
    width: 60px;
    height: 60px;
    word-spacing: 100px;
}

.icono{
    width: 30px;
    height: 30px;
}

.h3{
    text-align: right;
    font-family:Arial, Helvetica, sans-serif;
    padding:20px;
    font-style: normal;
}

.h3bis{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding:10px;
    font-style: normal;
}

.h3follow{
    font-family:Arial, Helvetica, sans-serif;
    padding:20px;
    font-style: normal;
    margin-left: 22%;
    margin-top: 3%;
}










/* Diseño responsivo */

/* iPad air en posicion vertical*/
@media all and (width: 820px) and (orientation: portrait){
    footer{
        /*width: 380px;*/
        font-size:smaller;
        margin-right: 95%;
    }   
}

/* iPad air en posicion horizontal*/
@media all and (width: 1180px) and (orientation:landscape){
    footer{
        /*width: 380px;*/
        font-size:smaller;
        margin-right: 80%;
    }   
}
