/* CSS normal */
body{
    background-image: url("../img/watercolour.jpg");
    background-size: cover; 
}

main{
    float: left;
    width: 70%;
}


aside{
    float: right;
    text-align: center;
    margin-left: 76%;
    position: absolute;
    margin-top: 3cm;
}


footer{
    float:left;
}


.hotel{
    text-align: center;
    font-style: italic;
    background-color: rgb(245, 188, 0); 
    font-size: 40px;
}

h2{
    text-align: center;
    font-style: italic;
    font-size: 30px;
    margin-right: 20%;
}

p{
    text-align: center
    font-size: 18px;
    font-weight:500;
    line-height: 0.68cm;
    width: 70%;
    margin-left: 4%;
}

img{
    width: 70%;
    margin-left: 4%;
}

ol{
    list-style-type:square;
    margin-left: 13%;
    font-size: 18px;
}

.pago{
    text-align: left;
}

.footer{
    font-size: 15px;
    text-align: left;
    margin-left: 20%;
    width: auto;
    list-style-type: none;
}

h3{
    font-style: italic;
    text-align: center;
    margin-right: 20%;
}

.izda{
    text-align: justify;
}

.piefoto{
    font-size: 15px;
}

.publi{
    margin-left: 20%;
}

/* Diseño responsivo */

@media screen {
    min-width: ;
}