body{
    background-color: rgba(175, 172, 172, 0.671);
}

main{
    float: left;
    width: 70%;
}


aside{
    float: right;
}

footer{
    float:left;
}

.cajas{
    background-color: rgb(194, 172, 46);
    border-color: rgb(12, 0, 0);
    border-width: 3px;
    font-family: Times;
    padding: 10px;
    margin:50px;
}

 .personales label{
    display: inline-flex;
    list-style: none;
    margin: 1.5px 75px;

}

 .reser label, p{
    display: inline-block;
    list-style: none;
    margin: 1.5px 40px;
}

.acti li{
    display: inline-block;
    list-style: none;
    margin: 1.5px 30px;
}


.extras li{
    display: inline-block;
    list-style: none;
    margin: 1.5px 20px;
}



.terminos input{
    box-shadow: 15px 15px 15px rgb(59, 53, 53);
    background-color: rgb(109, 106, 106);
    color: bisque;
    border-width: 1.5px;
    padding: 10px;
    margin-left: 50px;
}

.terminos input:hover{
    background-color:red;
    transition: all .3s;
}

.leer{
    margin-left: 50px;
}

.habitaciones img{
    position:static;
   height: 80px;
   margin: 30px;
   
}

.habitaciones img:hover{
    height: 700px;
    float: right;
    position: absolute;
    top:200%;
    left:5%;

}

.footer{
  margin: 50px;
  text-align: center;

}


@media (max-width:1200px){

    main h2{
        font-size: 90%;
    }
    nav li{
        margin-left: 10%;
    }

    .cajas{
        padding: 0;
        margin: 0;
        width: 70%;
    }

    .cajas h3{
        font-size: 80%;
    }
    .personales label{
        margin: 0;
        display: inline-flex;
    }

    .reser label{
        margin:0;
    }

    .acti li{
        margin:0;
        display: inline-flex;
    }

    aside{
        float:left;
    }


    aside{
       width: 20%;
       height: 20%;
    }

    aside img{
        width: 160px;
        height: 90%;
        margin-top: 5%;
    }

    .habitaciones img{
        width: 20%;
        height: 10%;
        margin:5%;
    }
}

@media (max-width:700px){

    main{
        float: none;
        width: 140%;
        padding: 2%;
    }


    main h2{
        font-size: 120%;
    }
    nav li{
        margin-left: 10%;
    }

    .cajas{
        padding: 0;
        margin: 0;
    }

    .cajas h3{
        font-size: 120%;
    }
    .personales label{
        margin: 0;
        display: flex;
        padding: 0.5%;
    }

    .reser label{
        margin:0;
    }

    .acti li{
        margin:0;
        display: inline-flex;
    }

    aside{
      height: auto;
    }

    .habitaciones img{
        height: auto;
    }

    .habitaciones img:hover{
        height: auto;
    }
}