body{
    background-color: rgba(175, 172, 172, 0.671);
}

.cajas{
    background-color: rgb(194, 172, 46);
    border-color: rgb(12, 0, 0);
    border-width: 3px;
    font-family: Times;
    padding: 10px;
    width: 68%;
    margin:50px;
}

 .personales label{
    display: inline;
    list-style: none;
    font-size: none;
    margin: 1.5px 75px;

}

.cajas .reser label, p{
    display: inline-block;
    list-style: none;
    font-size: none;
    margin: 1.5px 40px;
}

.cajas .acti li{
    display: inline-block;
    list-style: none;
    font-size: none;
    margin: 1.5px 30px;
}


.cajas .extras li{
    display: inline-block;
    list-style: none;
    font-size: none;
    margin: 1.5px 20px;
}



.terminos input{
    box-shadow: 15px 15px 15px rgb(59, 53, 53);
    background-color: rgb(109, 106, 106);
    color: bisque;
    border-width: 1.5px;
    padding: 10px;
    margin-left: 50px;
}

.terminos input:hover{
    background-color:red;
    transition: all .3s;
}

.leer{
    margin-left: 50px;
}

.habitaciones img{
    position:static;
   height: 80px;
   margin: 30px;
   
}

.habitaciones img:hover{
    height: 700px;
    float: right;
    position: absolute;
    top:200%;
    left:5%;

}

.footer{
  margin: 50px;
  text-align: center;

}