.cavallo{
    margin-top: 20%;
    margin-left: 9%;
}

.guia{
    margin-top: 20%;
    margin-left: 20%;
}

.bici{
    margin-top: 20%;
    margin-left: 20%;
}

.buceo{
    margin-top: 20%;
}

.boattrip{
    margin-left: 11%;
}

@media (max-width:700px){

    .cavallo{
        position: absolute;
        left:50%;
        top:179%;
    }
    .boattrip{
        position: relative;
        left:50%;
        margin-top: 60%;
    }

    .bici{
        position: absolute;
        left:40%;
        top:215%;
    }

    .guia{
        position: relative;
        left: 45%;
        margin-top: 60%;
    }
    .buceo{
        position: relative;
        left: 200%;
        margin-top: 70%;
    }
}