
.boattrip{
    position: absolute;
    top: 78%;
    left: 77%;
}

.cavallo{
    position: absolute;
    top: 115%;
    left: 75.5%;
}

.guia{
    position: absolute;
    top: 140%;
    left: 77%;
}

.bici{
    position: absolute;
    top: 180%;
    left: 77%;
}

.buceo{
    position: absolute;
    top: 210%;
    left: 73%;
}

